<template lang="html">
  <div class="home">
    <common-header></common-header>

      <div class="content">
        <list></list>
      </div>

    <common-footer></common-footer>
  </div>

</template>

<script>
  import CommonHeader from 'components/commonHeader.vue'
  import CommonFooter from 'components/commonFooter.vue'
  import List from 'components/list.vue'


  export  default {
    data(){

    },
    components:{
      CommonHeader,
      CommonFooter,
      List
    },
    created(){

    }
  }

</script>
