<template lang="html">
  <div class="home">
    <common-header></common-header>

        <list></list>

    <common-footer></common-footer>
  </div>

</template>

<script>
  import CommonHeader from '../components/commonHeader'
  import CommonFooter from '../components/commonFooter'
  import List from '../components/list'


  export default {
    components:{
      CommonHeader,
      CommonFooter,
      List
    }
  }

</script>
