<template>
  <yd-navbar title="Dizoom_wap" class="head_bar" fixed>

    <router-link to="#" slot="left">
      <yd-navbar-back-icon></yd-navbar-back-icon>
    </router-link>
    <router-link to="#" slot="right">
      <yd-icon name="more" size="25px" color="#777"></yd-icon>
    </router-link>

  </yd-navbar>
</template>

<script>
  export default {

  }
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
  .header_bar{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
  }
</style>
